.hide{
    display: none;
}

.h1{
    display: none;
}

.body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main{
    background-color: #46292b;
    /* height: 100%; */
    font-family: 'Spectral SC', serif;
    display: grid;
    grid-template-rows: 150px 1fr;
    padding: 20px;
    border-radius: 20px;
}
@media all and (min-width: 678px){
    .main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 600px;
}

}
.img{
    background-image: url('./images/ring1.jpeg');

    background-origin: content-box;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px;
}
@media all and (min-width: 678px){
    .img{
        background-image: url('./images/rings.jpeg');
        width: 250px;
        height: 700px;
    }
}
@media all and (min-width: 1000px){
    .img{
        width: 450px;
    }
}
.form{
    padding: 20px 40px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.game{
    color: #E8A577;
    font-size: 20px;
}
.title{
    font-size: 30px;
    text-transform: uppercase;
    color: brown;
    font-weight: 700;
}
.text-light{
    font-weight: 300;
    color: white;
}
.text-bold{
    font-weight: 600;
    color: white;

}

.select{
    gap: 10px;
    display: flex;
    justify-content: flex-start;
}
.js-select{

    font-family: 'Spectral SC', serif;
    /* padding: 5px 10px; */
    width: 75%;
    border-color: lightgray;
}
.button{
    font-family: 'Spectral SC', serif;
    font-weight: 600;
    color: white;
    padding: 5px 20px;
    background-color: brown;
    border: 1px solid brown;
    border-radius: 5px;
    font-size: 15px;
}





.score{
    color: brown;
    text-align: center;
    font-weight: 600;
}

.scores{
    display: flex;
    justify-content: center;
    /* margin: 10px 20px; */
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.js-result{
    opacity: 0.6;
    color: white;
    text-align: center;
    background-color: brown;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%;
}
.js-round{
    text-align: center;
    background-color: brown;
    padding: 5px;
    border-radius: 10px;
}


